h2 {
    text-align: center;
}

/* Stylen på hvordan div skal se ut */
div {
    float: left;
}

/* Lagde klasser for å legge til litt rom mellom knappene våres og borderen  */
.maalBoks {
    padding-left: 10px;
    border: none;
    margin: 0;
}

/* boksen til gutta */
.visittKortBox{
    margin: 2px;
    border-radius: 0;
    padding: 1px;
}


/* Ramme for profil bilde, kan avrunde, mekke position osv */
.profilBildeRamme {
    margin: 20px;
    border: 2px solid black;
    border-radius: 17px;
}
img {
    border-radius: 15px
}


#audunBox {
    border: 5px ridge red;
}
#victorBox {
    border: 5px ridge orange;
}
#christofferBox {
    border: 5px ridge rgb(255, 248, 33);
}
#isakBox {
    border: 5px ridge limegreen;
}
#HassanBox{
    border: 5px ridge deepskyblue;
}
#christianBox {
    border: 5px ridge midnightblue;
}
#evenbox {
    border: 5px ridge sienna;
}
body {
    margin: 0;
    margin-top: 100px;
}

nav {
    display: compact;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #eeeeee
}

.navUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navLI {
    float: left;
}

.navLI a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navLI a:hover:not(.active) {
    background-color: #111;
}

header {
    display: inline;
    position: center;
    top: 0;
    bottom: 100px;
    left: 5px;
    right: 5px;
    margin: 20px;
    margin-top: 0;
    background-color: hsla(0, 100%, 100%, 0.0);
}

section {

}

.active {
    background-color: #04AA6D;
}

.HassanHover{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px;
}
.maalBoks:hover .HassanHover{
    display: block;
}


